<div class="flex-container flex-child">
    <div class="flex-container flex-child">
        <!-- Sidebar -->
        <div class="flex-container flex-child flex-vertical-direction sidebar">
            <div class="flex-fixed-child">
                <span (click)="navigateToHome()">Dashboard</span>
            </div>

            <!-- Projects overview -->
            <div class=" flex-child">
                <ul class="projects-list list-group">
                    <li [ngClass]="{'item': true, 'list-group-item': true, 'selected': i==currentSelection }"
                        *ngFor="let p of projects ; let i = index" (click)="loadProjectPage(p, i)">
                        {{ p.name }}
                    </li>
                    <!-- Option to add a project -->
                </ul>
            </div>

            <!-- Bottom section showing last ran project -->
            <div class="last-status flex-fixed-child">
                {{projects[0].name}}
            </div>
        </div>

        <!-- The main content area -->
        <div class="flex-container flex-child" style="flex-basis: 60%;">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>