@import '../variables.scss';
$sidebar-color: lighten($color: $primary-background, $amount: 10);
$highlight-color: darken($color: $sidebar-color, $amount: 5);

.sidebar {
    background-color: $sidebar-color;
    color: #cfd8dc;
}

.sidebar .list-group-item {
    background-color: unset;
    cursor: pointer;
    border: 0;
    border-left: 0.2rem solid transparent;
}

.sidebar .list-group-item:hover {
    background-color: darken($color: $sidebar-color, $amount: 5);
    border-left: 0.2rem solid $accent-color;
    box-sizing: border-box;
}

.sidebar .list-group-item.selected {
    background-color: darken($color: $sidebar-color, $amount: 5);
    border-left: 0.2rem solid $accent-color;
    box-sizing: border-box;
}

.sidebar .last-status {
    margin: 0.8rem;
    padding: 1rem;
    font-size: small;
    background-color: darken($color: $sidebar-color, $amount: 5);
}