<div class="add-project-container flex-container flex-child flex-vertical-direction">
  <!-- Add project area -->
  <div class="flex-child content-padding">

    <input type="text" class="form-control" [(ngModel)]="projectName" placeholder="Project name">
    <input type="text" class="form-control" [(ngModel)]="projectPath" placeholder="Paste path of the project">
    <input type="text" class="form-control" [(ngModel)]="eslintCommand" placeholder="Command to execute es lint">
    <button
      type="button"
      class="add-project-btn btn btn-primary"
      (click)="addProject()"
    >
      Add project
    </button>
  </div>
</div>
