/** Application wide common variables */
$content-space: 2rem;
$linked-content-space: 0.3rem;

/** Theme variables */
$primary-background: #212121;
$accent-color: #26c6da;
$error-color: #f44336;
$success-color: #43a047;
$warning-color: #ff9800;